@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    background-color: aqua;
    padding: 60px;
    text-align: center;
    color: black;
}
*{
    box-sizing: border-box;
}
p{
    font-family: 'Roboto', sans-serif;
    /*max-width untuk membatasi lebar
    overflow, hidden untuk menyembunyikan, visible untuk tetap keliatan, auto untuk kalo lebih
    ada scroll kalo gag lebih maka bernilai visible, scroll ya scroll;
    */
}
main{
    overflow: auto;
}
header{
    display: inline;
}

nav{
    background-color: springgreen;
    padding: 5px;
    position: sticky;
    top: 0;
}
nav li{
    display: inline-block;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.card{
    padding: 20px;
    box-shadow: 10px 10px 28px -21px rgba(0,0,0,0.64);
}
.card figure{
    margin: 0;
}

.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile-img{
    display: block;
    margin: auto;
    width: 50%;
}
aside figure{
    align-content: center;
}

aside{
    float: right;
    width: 25%;
}

aside h1{
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
 }
 #content{
     float: left;
     width: 75%;
 }
 aside th{
     text-align: left;
     padding: 10px;
 }



@media screen and (max-width:1000px){
    #content, aside{
        width: 100%;
        padding: 0;
    }
}
